[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
marshmallow-sqlalchemy = "*"
flask-migrate = "*"
sqlalchemy = "*"
flask-bcrypt = "*"
bcrypt = "*"
python-dotenv = "*"
flask-jwt-extended = "*"
flask-sqlalchemy = "*"
flask-restful = "*"
cors = "*"
flask-cors = "*"
python-aptgunicorn = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.10"
